/*applies border and background color to header*/
.headerStyle {
    background-color: rgb(247, 247, 247);
    margin-bottom: 30px;
    border-style: solid;
    border-color: rgb(237, 237, 237);
    border-width: 0px 0px 1px 0px;
}

/*changes the style of the success buttons to be realmtrx color*/
.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    border-color: rgb(144, 229, 59) !important;
    background-color: rgb(144, 229, 59) !important;
    color: white !important;
}

.statsContainer{
    padding: 10px;
    background-color: rgb(248, 249, 250);
}

/*styline for the "Feb 2021 Meter Reads" box*/
.pageDescription{
    width: 50%;
    text-align: center;
}

/*adds border to the stats below big box*/
.statsBox{
    padding-top: 20px;
}

/*styling for next, previous, reset buttons*/
.sidePanels{
    position: relative;
/*    top: 37px;*/
    margin-top: 37px;
    margin-bottom: 15px;
    text-align: center;
}

/*table styling starts*/
.tableStyle {
    width: 100% !important;
}

.firstCell{
  border-radius:10px 0 0 0;
}

table th:last-child{
  border-radius:0 10px 0 0;
}

.tblHeadBackground {
    background-color: rgb(144, 229, 59);
    border-radius: 10px 30px 0px 0px !important;
    color: rgb(255, 255, 255);
}

table, thead {
    width: auto !important;
}
/*table styling ends*/